{% extends "admin/challenges/create.html" %}

{% block header %}
<div class="alert alert-secondary" role="alert">
	Dynamic docker challenge that allows the player to deploy a standalone instance for this challenge.<br />
</div>
{% endblock %}

{% block value %}
<div class="form-group">
    <label>
        YAML:<br>
        <small class="form-text text-muted">
            The YAML setting of your container group.
        </small>
    </label>
    <textarea class="form-control" name="yaml" rows="10" required></textarea>
</div>

<div class="form-group">
    <label>
        Container Name:<br>
        <small class="form-text text-muted">
            The name of your container group, which should be shorter than 32 characters
            and only contains lowercase letters, numbers and <code>-</code>.
        </small>
    </label>
    <input type="text" class="form-control" name="container_name" placeholder="Enter the container name" required>
</div>

<div class="form-group">
    <label>
        Port:<br>
        <small class="form-text text-muted">
            The port exposed.
        </small>
    </label>
    <input type="number" class="form-control" name="port" placeholder="Enter the port" value="80" required>
</div>

<div class="form-group">
    <label>
        Docker Container Group CPU Request:<br>
        <small class="form-text text-muted">
            The CPU usage request in total, which should be &lt;= 4 and times of 0.5.
        </small>
    </label>
    <input class="form-control" name="cpu" placeholder="Enter the cpu request" value="0.5" required>
</div>

<div class="form-group">
    <label>
        Flag:<br>
        <small class="form-text text-muted">
            The static flag or dynamic flag. <code>[random]</code> in the dynamic flag will be replaced by a random 8-byte string. 
        </small>
    </label>
    <input type="text" class="form-control" name="flag" placeholder="flag{static_string_before_[random]}" required>
</div>

<div class="form-group">
    <label>
        Score Type:<br>
        <small class="form-text text-muted">
            Decide it use dynamic score or not
        </small>
    </label>

    <select class="form-control" name="dynamic_score" id="score-type">
        <option value="0" selected>Static Score</option>
        <option value="1">Dynamic Score</option>
    </select>
</div>

<div class="form-group" id="static-score" style="display: none">
    <label>
        Value:<br>
        <small class="form-text text-muted">
            This is how many points are rewarded for solving this challenge.
        </small>
    </label>
    <input type="number" class="form-control" name="value" placeholder="Enter value" required>
</div>

<div id="dynamic-score" style="display: none">
    <div class="form-group">
        <label for="value">Initial Value<br>
            <small class="form-text text-muted">
                This is how many points the challenge is worth initially.
            </small>
        </label>
        <input type="number" class="form-control" name="initial" placeholder="Enter value" required>
    </div>

    <div class="form-group">
        <label for="value">Decay Function<br>
            <small class="form-text text-muted">
                <span>How the dynamic value will be calculated based on the Decay value</span>
                <ul>
                    <li>Linear: Calculated as <code>Initial - (Decay * SolveCount)</code></li>
                    <li>Logarithmic: Calculated as <code>(((Minimum - Initial) / (Decay^2)) * (SolveCount^2)) + Initial</code></li>
                </ul>
            </small>
        </label>
        <select name="function" class="custom-select">
            <option value="linear">Linear</option>
            <option value="logarithmic">Logarithmic</option>
        </select>
    </div>

    <div class="form-group">
        <label for="value">Decay<br>
            <small class="form-text text-muted">
                <span>The decay value is used differently depending on the above Decay Function</span>
                <ul>
                    <li>Linear: The amount of points deducted per solve. Equal deduction per solve.</li>
                    <li>Logarithmic: The amount of solves before the challenge reaches its minimum value. Earlier solves will lose less
                        points. Later solves will lose more points</li>
                </ul>
            </small>
        </label>
        <input type="number" class="form-control" name="decay" min="1" placeholder="Enter Decay value" required>
    </div>

    <div class="form-group">
        <label for="value">Minimum Value<br>
            <small class="form-text text-muted">
                This is the lowest that the challenge can be worth
            </small>
        </label>
        <input type="number" class="form-control" name="minimum" placeholder="Enter minimum value" required>
    </div>
</div>
{% endblock %}

{% block type %}
<input type="hidden" name="type" value="dynamic_docker">
{% endblock %}